/* FORMAT CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.smooth-scroll {
  scroll-behavior: smooth;
}
ul {
  list-style-type: none;
}
a {
  color: #222;
  text-decoration: none;
}
img {
  width: 100%;
}
.hidden {
  display: none;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

/* NAVBAR */
.header {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  border-bottom: 1px solid #eee;
  box-shadow: 2px 1px #eee;
  opacity: 0.95;
}

.navbar-brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  order: 1;
}
.logo {
  width: 150px;
}

.navbar {
  width: 100%;
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background: #fff;
  padding: 5px 30px;
}

.navbar-toggle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  order: 3;
}

.nav-links li {
  font-size: 16px;
  text-align: center;
  padding: 15px 30px;
}

.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 2;
  display: none;
}

.active {
  width: 100%;
  position: absolute;
  top: 68px;
  left: 0;
  display: block;
  background-color: #fff;
}

.cover-container {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}
.cover-container svg {
  position: absolute;
  bottom: 110px;
}
.cover-description {
  font-size: 48px;
  text-align: left;
  color: #383838;
  font-weight: 700;
  padding: 45px 0;
}
.lead {
  text-align: left;
  line-height: 30px;
  color: #8c8c8c;
}

.content {
  padding-top: 40px;
}

.about-us,
.services,
.team,
.brand {
  padding: 85px 30px;
}
.details {
  padding-bottom: 90px;
}
.about-title,
.services-title,
.team-title,
.brand-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  color: #383838;
  padding: 45px 0;
}
.service-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-services {
  flex: 1;
  border-radius: 10px;
  padding: 20px 25px;
  height: 320px;
  box-sizing: border-box;
  margin: 30px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.08);
  transition: all ease 0.3s;
}

.img-icon {
  width: 120px;
  text-align: center;
}

.box-title {
  color: #383838;
  font-size: 20px;
  line-height: 19px;
  font-weight: 700;
  padding-bottom: 8px;
}
.box-desc {
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.scrollToTop a {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  border-radius: 6px;
  font-size: 18px;
  padding: 7px 12px;
  background: #da1f3d;
  box-shadow: rgba(0, 0, 0, 0.15);
}
@media (min-width: 992px) {
  .navbar-brand {
    padding-left: 20px;
  }
  .navbar-toggle {
    display: none;
  }
  .nav-links {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .cover-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .cover-text {
    flex-basis: 40%;
    padding: 0 30px;
  }
  .img-cover {
    flex-basis: 60%;
  }
  .image-responsive {
    width: 100%;
    height: 100%;
    max-height: 80%;
  }

  .position-about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .about-description {
    flex-basis: 50%;
    text-align: center;
    order: 2;
  }
  .services-description {
    text-align: center;
  }
  .about-image {
    flex-basis: 50%;
    order: 1;
  }
  .service-box {
    max-width: 1480px;
    flex-direction: row;
    margin: 0 auto;
  }
}
